

    
    
  


div.statistics-master {
   
    
    margin-top: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow:4px 8px rgba(0, 0, 0, 0.2);
  
    h1 {
      justify-content: center;
      font-size: 3rem;
      margin-top: 2rem;
      margin-left:8rem;
    }
      
    

  }

 
  header.statistics-header{
    text-align: start;
    font-size: 2rem;
   
    margin-top: 1rem;
  }
