

    
    
  


div.statistics-master {
   
    
    margin-top: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow:2px 9px rgba(0, 0, 0, 0.2);
  
  }


  header.statistics-header{
    text-align: start;
    font-size: 2rem;
   
    margin-top: 1rem;
  }
