
.formulario{
  width: 100%;
  height: 100%;
  padding-Left: 158;
  padding-Right: 158;
  padding-Top: 31;
  padding-Bottom: 31;
  background: white;
  flex-Direction: column;
  justify-Content: flex-start;
  align-Items: center;
  display: inline-flex;
}

.div1{
  width: 1124px;
  height: 1000px;
  position: relative;
  background: #DAEFEC;
  border-radius: 35px;
  overflow: hidden;
  border: 1px solid white;
  
}

.div2 {
  width: 205px;
  height: 166px;
  left: 459px;
  top: 33px;
  position: absolute; 
  
}

.div3 {
  width: 205px;
  height: 166px;
  left: 0;
  top: 0;
  position: absolute;
  background: #42B8C3;
  border-radius: 3mm;
}

.div4 {
  width: 175px;
  height: 135px;
  left: 15px;
  top: 14px;
  position: absolute;
  background: #E4F8F3;
  border-radius: 3mm;
}

.inputFile{
  display: none;
  
}
.div5 {
  width: 184px;
  padding-top: 12px;
  padding-bottom: 12px;
  left: 676px;
  top: 153px;
  position: absolute;
  background: #42B8C3;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  color: #daefec00;
  cursor: pointer;
}

.div6 {
  width: 22px;
  height: 22px;
  position: relative;
}

.div7 {
  width: 22px;
  height: 22px;
  left: 0;
  top: 0;
  position: absolute;
}

.div8 {
  width: 5.5px;
  height: 0;
  left: 8.25px;
  top: 11px;
  position: absolute;
  border: 2px white solid;
}

.div9 {
  width: 0;
  height: 5.5px;
  left: 11px;
  top: 8.25px;
  position: absolute;
  border: 2px white solid;
}

.div10 {
  width: 16.5px;
  height: 16.5px;
  left: 2.75px;
  top: 2.75px;
  position: absolute;
  border: 2px white solid;
}

.div11 {
  visibility: visible;
  color: white;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  word-wrap: break-word;
}

.div12 {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 413.5px;
  top: 890px;
  position: absolute;
  background: #E4F8F3;
  border-radius: 30px;
  overflow: hidden;
  /* border: 3px #42B8C3 solid; */
  justify-content: center;
  align-items: center;
  gap: 55px;
  display: inline-flex;
}

.div13 {
  background: #42B8C3;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}

.div14 {
  align-self: stretch;
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  background: #42B8C3;
  border-radius: 6px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div15 {
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
}

.div16 {
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  word-wrap: break-word;
}

.div17 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}

.div18 {
  align-self: stretch;
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  background: #42B8C3;
  border-radius: 6px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div19 {
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
}

.div20 {
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  word-wrap: break-word;
}

.div21 {
  width: 804px;
  height: 650px;
  padding: 40px;
  left: 145px;
  top: 215px;
  position: absolute;
  background: white;
  border-radius: 35px;
  border: 1px #D7DEDD solid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  display: inline-flex;
}

.div22 {
  color: black;
  font-size: 24px;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  word-wrap: break-word;
}

.div23 {
  height: 472px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  display: flex;
}

.div24 {
  width: 493px;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}

.div25 {
  width: 105px;
  height: 40px;
  padding: 8px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.div26 {
  color: #42A7C3;
  font-size: 24px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}

.div27 {
  width: 392px;
  padding-left: 1px;
  padding-right: 1px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}

.div28{
  align-self: stretch;
  height: 72px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  display: flex;
}

.div29 {
  align-self: stretch;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  display: inline-flex;
}

.div30 {
  flex: 1 1 0;
  height: 40px;
  padding: 8px;
  background: linear-gradient(0deg, #EDF5F4 0%, #EDF5F4 100%), linear-gradient(0deg, 0%, 100%);
  /* Ajusta el segundo gradiente con los valores deseados */

  /* Estilo de sombra */
  box-shadow: 0px -1px 0px #484747 inset;

  /* Estilos de diseño de flexbox */
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  display: flex;

  color: black;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  word-wrap: break-word;
  font-style: italic;
}


.div46 {
  width: 55px;
  height: 40px;
  padding: 5px;
  background: linear-gradient(0deg, #EDF5F4 0%, #EDF5F4 100%), linear-gradient(0deg, 0%, 100%);
  /* Ajusta el segundo gradiente con los valores deseados */

  /* Estilo de sombra */
  box-shadow: 0px -1px 0px #484747 inset;

  /* Estilos de diseño de flexbox */
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  display: flex;

  color: black;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  word-wrap: break-word;
  font-style: italic;
}

.div75 {
  align-self: stretch;
  height: 0;
  border: 1px #D7DEDD solid;
}

.div76 {
  width: 353px;
  height: 103px;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 0;
  top: 0;
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.div77 {
  width: 48px;
  height: 48px;
  position: relative;
}

.div78 {
  width: 42.04px;
  height: 35.7px;
  left: 3px;
  top: 6px;
  position: absolute;
}

.div80 {
  color: black;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 0.1px;
  word-wrap: break-word;
}