@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700;800');

// BACKGROUNDS
  $back-white: #fff;
  $back-hero-background : #26335d;
  $back-main-color: #42a7c3;
  $back-main-color-80: #42a7c380;
  $back-hover-main-color: #36758e;
  $back-hover-main-color-80: #36758e80;
  $back-second-color: #F4F7FB;
  $back-aside:#F8F7FF;




// TEXTS
  $font-main: #86898b;
  $font-second: #42b8c3;
  $font-titles: #081b2f;
  $font-white: #fff;
  $font-label-patient-form: #333;

