//_____________ COLORES
$color: #222;


// ____________ IMPORTACION DE FUENTES
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700;800');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  height: 100vh;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

:root{
  scroll-behavior: smooth;
  font-family: Inter, Montserrat, sans-serif;
  font-size: 62.5%;
}

/*
  No mover estos dos media queries por favor, esto controla los límites de la responsividad y
  hace el tamaño de los elementos equivalente al que se muestra en los diagramas de figma.
*/
@media only screen and (max-width: 767px) {/* mobile */
  :root{
    font-size: clamp(10px, 3.5vw, 18px);
  }
}

@media only screen and (min-width: 767px) {/* desktop */
  :root{
    font-size: clamp(12px, 1.1vw, 18px);
  }
}